#descr-search-house {
       /* border: 1px solid red; */
    /* display: flex; */
    position: absolute;
    z-index: 5;
    top: -350px;
    right: 210px;
    box-shadow: 3px 3px 10px black;
    padding: 20px;
    width: 550px;
    height: 100px;
}

#descr-search-house > form {
    display: flex;
    flex-wrap: wrap;
}

#descr-search-house > button {
    width: fit-content;
    position: absolute;
    bottom: 20px;
    right: 110px;
}

#descr-search-house > form > label {
    margin-right: 10px;
    margin-top: 20px;
}

#descr-search-house > form > button {
    margin-top: 20px;
    /* margin-right: 5px; */
    position: absolute;
    bottom: 20px;
    right: 175px;
}

#name-search-house {
    /* border: 1px solid red; */
    /* display: flex; */
    position: absolute;
    z-index: 5;
    top: -350px;
    right: 280px;
    box-shadow: 3px 3px 10px black;
    padding: 20px;
}

#name-search-house > button {
    width: fit-content;
    position: absolute;
    bottom: 20px;
    right: 20px;
}

#name-search-house > form > input{
    margin-right: 20px;
    width: 250px;
}

#name-search-house > form > button {
    margin-right: 65px;
}

.search-results-house {
    border-radius: 20px;
    display: flex;
    flex-wrap: wrap;
    position: absolute;
    top: -375px;
    left: 130px;
    width: 725px;
    height: 330px;
    overflow-y: auto;
    grid-gap: 20px;
    grid-gap: 20px;
    grid-gap: 20px;
    gap: 20px;
    justify-content: center;
    z-index: 4;
    padding: 20px 0;
}

.computer-screen {
    border-top: 10px solid rgb(53, 53, 53);
    border-right: 10px solid rgb(53, 53, 53);
    border-left: 10px solid rgb(53, 53, 53);
    padding: 20px 0;
    position: absolute;
    top: -385px;
    left: 120px;
    width: 725px;
    height: 330px;
    box-shadow: -1px 3px 15px black;
    border-radius: 20px;
    background-color: rgb(176, 215, 215);
    z-index: 2;
}


.char-info-house {
    /* border: 1px solid pink; */
    width: 250px;
    height: 200px;
    padding: 10px;
    background-color: aliceblue;
    box-shadow: 1px 3px 10px black;
    border-radius: 10px;
    border: 1px solid black;
    cursor: pointer;
}

.char-info-house:hover {
    border: 2px solid black;
}

.char-info-house > p {
    margin: 0 0 8px 20px;
}

.char-info-house > .char-name {
    font-weight: bold;
    font-size: 20px;
    margin-bottom: 15px;
    margin-left: 0;
}
