@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Gaegu:wght@300;400;700&display=swap');
/* font-family: 'Roboto', sans-serif; */


* {
    font-family: 'Roboto', sans-serif;
}


.notepad-button {
    /* border: 2px solid blue;  */
    width: -moz-fit-content;
    width: fit-content;
    border-radius: 50px;
    /* cursor: pointer; */
    position: absolute;
    z-index: 2;
    top: 100px;
    right: 10px;
    box-shadow: 3px 3px 10px black;
}

.modal-button > img {
    /* border: 1px solid red; */
    height: 70px;
    width: 70px;
    border-radius: 20px;
}

.modal-button {
    border-radius: 50px;
    padding: 10px;
    cursor: pointer;
    background-color: rgb(242, 242, 242);
}

.modal-button:hover {
    background-color: rgb(208, 208, 208);
}


#modal-notepad {
    /* border: 2px solid purple; */
    width: 700px;
    height: 750px;
    object-fit: cover;
    /* z-index: 1; */
    border-radius: 50px;
}

/* #modal-content {
    width: 700px;
    height: 750px;
} */

.note-contents {
    border-bottom: 1px solid rgb(255, 132, 152);
    margin: 7px 10px;
    display: flex;
    justify-content: space-between;
    /* font-weight: 400; */
    font-size: 20px;
    font-family: 'Gaegu', cursive;
}

.note-contents > p {
    margin: 0;
    font-size: 20px;
    font-family: 'Gaegu', cursive;

}

.notepad-empty-div {
    height: 630px;
    width: 550px;
    position: absolute;
    top: 65px;
    right: 80px;
    background-color: antiquewhite;
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    padding: 10px 0;
}

/* .notepad-content-house {
    border-radius: 50px;
} */

#modal-content {
    border-radius: 50px;
}

/* .new-note-form-house {
    border: 3px solid green;
} */


.button-menu-house > button {
    cursor: pointer;
    width: 60px;
}

.menu-dropdown > button {
    cursor: pointer;
}

.menu-dropdown > button:hover {
    /* background-color: white; */
    border: 1px solid black;
}


.button-menu-house {
    /* border: 2px solid blue; */
    display: flex;
    flex-direction: row-reverse;
    grid-gap: 3px;
    gap: 3px;
    align-items: flex-end;
    position: relative;
}


.menu-dropdown {
    /* order: 2px solid green; */
    display: flex;
    flex-direction: column-reverse;
    /* grid-gap: 3px;
    gap: 3px; */
    position: absolute;
    top: 22px;
    z-index: 102;
    background-color: aliceblue;
    padding: 4px;
    border: 1px solid gray;
    border-radius: 5px;
    /* width: 70px; */
}

.hidden {
    display: none;
}


.update-modal-content:hover {
    background: rgb(216, 216, 216);
    border-radius: 10px;
}

.update-modal-content > button {
    padding: 0;
    border: none;
    background: none;
    font-size: 14px;
    cursor: pointer;
}

/* .update-modal-content > button:hover {
    background: rgb(216, 216, 216);
} */

.update-modal-content {
    position: relative;
}

.form-dropdown {
    position: absolute;
    top: -10px;
    right: 20px;
}

.form-dropdown > textarea {
    outline: none;
    width: 445px;
    height: 20px;
}

.suspect-button {
    /* border: 1px solid blue;  */
    width: -moz-fit-content;
    width: fit-content;
    position: absolute;
    z-index: 2;
    top: 220px;
    right: 10px;
    box-shadow: 3px 3px 10px black;
    border-radius: 50px;
}

.modal-button > #suspect-icon {
    /* border: 1px solid red; */
    font-size: 65px;
    padding: 5px;
    border-radius: 10px
}

.modal-button > #suspect-icon:hover {
    background-color: rgb(208, 208, 208);
}

.suspect-container {
    margin: 20px 0;
    position: relative;
    z-index: 4;
    background-color: antiquewhite;
    border-radius: 30px;
    width: 493px;
    top: 60px;
    left: 85px;
}

.suspect-modal-container {
    height: 750px;
    width: 700px;
}

.suspect-modal-container > img {
    position: absolute;
    z-index: 3;
    width: -webkit-fill-available;
    top: -35px;
    left: -20px;
    height: -webkit-fill-available;
    object-fit: contain;
}

.single-suspect {
    border-bottom: 1px solid rgb(255, 132, 152);
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 20px;
    height: 45px;
}

.single-suspect > p {
    font-family: 'Gaegu', cursive;
    font-size: 20px;
}

.single-suspect > button {
    height: 25px;
    cursor: pointer;
}

.add-back-buttons > button {
    margin: 10px 20px;
    cursor: pointer;
    height: 25px;
}

.add-back-buttons {
    /* border: 1px solid green; */
    display: flex;
    flex-direction: column;
    width: 50%;
}


.home-screen > img {
    position: absolute;
    z-index: 1;
    width: -webkit-fill-available;
    height: -webkit-fill-available;
    object-fit: cover;
    top: 0;
    right: 0;
    opacity: 0.7;
}

.home-screen > h1 {
    position: absolute;
    z-index: 2;
    top: 0;
    right: 30px;
    font-size: 40px;
}

.backpack-button {
    /* border: 1px solid green; */
    position: absolute;
    z-index: 3;
    width: 95px;
    height: 95px;
    border-radius: 50px;
    box-shadow: 3px 3px 10px black;
    top: 10px;
    right: 400px;
}

.backpack-popup {
    border: 1px solid red;
    height: 100px;
    width: 430px;
    position: absolute;
    top: 0;
    right: 100px;
    display: flex;
    /* justify-content: space-between; */
    align-items: center;
    gap: 2px;
}

.backpack-popup.hidden {
    display:none;
}

.item-house {
    border: 1px solid blue;
    height: -webkit-fill-available;
    width: -webkit-fill-available;
}

.backpack-button > button {
    width: -webkit-fill-available;
    height: -webkit-fill-available;
    border-radius: 50px;
    cursor: pointer;
    background-color: rgb(234, 234, 234);
}

.backpack-button > button > img {
    width: -webkit-fill-available;
    height: -webkit-fill-available;
    object-fit: cover;
    border-radius: 50px;
}

.backpack-button > button:hover {
    background-color: rgb(217, 216, 216);
}

.new-note-form-house > form > textarea {
    outline: none;
    width: -webkit-fill-available;
    height: 35px;
    margin-right: 20px;
    font-size: 15px;
}

.new-note-form-house > form > button {
    /* border: 2px solid blue; */
    width: 150px;
    margin-right: 40px;
}

.new-note-form-house > form {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.new-note-form-house {
    margin-top: 20px;
}

.dialog-box {
    position: absolute;
    z-index: 2;
    border: 2px solid black;
    height: 280px;
    width: 1000px;
    bottom: 5px;
    left: 10px;
    background-color: aliceblue;
    box-shadow: 1px 3px 20px black;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    /* font-family: 'Roboto', sans-serif; */
    font-weight: 300;
}

.dialog-text,
.first-choice > p {
    font-size: 20px;
    margin: 0 60px;
}

.continue-button {
    position: absolute;
    bottom: 0;
    right: 0;
    padding: 20px 30px;
    font-size: 15px;
    cursor: pointer;
}

.choice-buttons {
    display: flex;
    flex-direction: column;
    height: 250px;
    flex-wrap: wrap;
}

.choice-buttons > button {
    margin: 5px;
    padding: 12px;
    font-size: 15px;
    cursor: pointer;
}

.character-image {
    /* border: 1px solid green; */
    width: 470px;
    height: 500px;
    position: absolute;
    bottom: 270px;
    /* left: 0px; */
    left: 50px;
    z-index: 1;
}

.character-image > img {
    width: -webkit-fill-available;
    height: -webkit-fill-available;
    object-fit: contain;
}

.solution-modal-container {
    height: 250px;
    width: 500px;
}

.solution-container > p {
    font-weight: 300;
    font-size: 14px;
    /* margin-bottom: 40px; */
}

.solution-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 20px 30px;
}

.solution-container > form {
    /* border: 1px solid red; */
    display: flex;
    flex-direction: column;
    /* height: 100px; */
    width: 350px;
    align-items: center;
}

.solution-container > form > p {
    font-size: 13px;
    font-weight: 300;
}

.solution-container > form > input {
    width: -webkit-fill-available;
    outline: none;
    font-size: 15px;
    height: 25px;
}

.solution-container > form > button {
    /* border: 2px solid blue; */
    margin: 0;
    margin-top: 15px;
    width: 130px;
    padding: 5px;
}
