.idcard-button {
    width: -moz-fit-content;
    /* width: fit-content; */
    position: absolute;
    z-index: 2;
    top: 350px;
    left: 200px;
    /* box-shadow: 3px 3px 10px black; */
    border-radius: 50px;
}

.tickets-button {
    /* width: fit-content; */
    position: absolute;
    z-index: 2;
    top: 19rem;
    left: 9rem;
    /* box-shadow: 3px 3px 10px black; */
    border-radius: 50px;
}

.tickets-button > button > img {
    height: 100px;
    width: 100px;
    object-fit: contain;
}

.receipt-button {
    /* width: fit-content; */
    position: absolute;
    z-index: 2;
    top: 23rem;
    right: 20rem;
    /* box-shadow: 3px 3px 10px black; */
    border-radius: 50px;
}

.receipt-button > button,
.tickets-button > button {
    padding: 0;
    background-color: transparent;
    border: none;
}

.receipt-button > button > img {
    object-fit: contain;
    height: 100px;
    box-shadow: none;
}

.receipt-button > button > img:hover {
    border: 2px solid black;
}

.idcard-button > button:hover,
.tickets-button > button:hover,
.receipt-button > button:hover {
    background-color: transparent;
}

.idcard-button > button > img {
    object-fit: contain;
    height: 100px;
    width: 150px;
    /* box-shadow: 2px 2px 10px black; */

    /* box-shadow: none; */
}

.idcard-button > button {
    background-color: transparent;
    border: none;
    /* box-shadow: none; */
}

.idcard-button > button > img:hover,
.tickets-button > button > img:hover,
.receipt-button > button > img:hover {
    border: 2px solid black
}

.item-detail-modal {
    /* border: 2px solid blue; */
    width: 700px;
    height: fit-content;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: aliceblue;
    border-radius: 20px;
    padding: 20px 0;
}

.item-detail-modal > i {
    position: absolute;
    top: 20px;
    right: 20px;
    font-size: 20px;
    cursor: pointer;
}

.item-detail-modal > i:hover {
    font-weight: bold;
}

.item-detail-modal > img {
    height: 300px;
    width: 300px;
    border-radius: 300px;
    object-fit: contain;
    border: 2px solid black;
    /* margin-bottom: 50px; */
    background-color: white;
    box-shadow: 3px 3px 10px black;
    margin-top: 20px;
}

/* .item-detail-modal > p {
    font-size: 16px;
    /* border: 1px solid red; */
    /* width: 500px; */
    /* margin: 0 80px;
    line-height: 25px;
    font-weight: 300;
} */

.item-description {
    font-weight: 400;
    /* margin-bottom: 20px; */
    font-size: 16px;
    /* border: 1px solid red; */
    /* width: 500px; */
    margin: 0 80px;
    line-height: 25px;
    font-weight: 300;
    margin-bottom: 40px;
    margin-top: 50px;
    font-family: 'Courier Prime', monospace;
}

.item-options {
    height: fit-content;
}

.item-house > button {
    border: none;
    background-color: transparent;
    padding: 0;
}

.item-house > button:hover {
    background-color: transparent;
}

.item-house > button > img {
    height: 100px;
    width: 100px;
    object-fit: contain;
}

.item-house:hover {
    border: 2px solid black;
}

.item-house > p {
    margin: 0;
    position: absolute;
    bottom: 0;
    left: 5px;
    font-size: 12px;
    font-weight: 300;
}
